NotFenix/src/main/resources/notfenix.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:tns="http://ws.sirs1617.andred.pt/"
    targetNamespace="http://ws.sirs1617.andred.pt/" 
    name="NotFenixWebService">
    
    <types>
    
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.sirs1617.andred.pt/">
        	<xsd:element name="login">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="username" type="xsd:string"></xsd:element>
        				<xsd:element name="password"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="loginResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="addDoctor">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string">
        				</xsd:element>
        				<xsd:element name="username"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="password"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="publicKey"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="allKeysEncrypted"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="addDoctorResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="deleteDoctor">
        		<xsd:complexType>
        			<xsd:sequence>
                        <xsd:element name="token" type="xsd:string">
        				</xsd:element>
                        <xsd:element name="username"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="deleteDoctorResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="revokeDoctorKey">
        		<xsd:complexType>
        			<xsd:sequence>
                        <xsd:element name="token" type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="revokeDoctorKeyResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="keys" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="changePassword">
        		<xsd:complexType>
        			<xsd:sequence>
                        <xsd:element name="token" type="xsd:string">
        				</xsd:element>
                        <xsd:element name="username"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="password"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="oldPassword"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="NewOperationResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="changePasswordResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="addPatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string">
        				</xsd:element>
        				<xsd:element name="name" type="xsd:string"></xsd:element>
        				<xsd:element name="keyMaster"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="keyDoctor"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="iv_string"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="detailsEnc"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="allKeysEnc_string"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="iv2_string"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="detailsPublicEnc"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="addPatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="deletePatient">
        		<xsd:complexType>
        			<xsd:sequence>
                        <xsd:element name="token" type="xsd:string">
        				</xsd:element>
                        <xsd:element name="name" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="deletePatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getInfoPatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="name" type="xsd:string"></xsd:element>
        				<xsd:element name="infoName"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getInfoPatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="infoValue" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="setInfoPatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="name" type="xsd:string"></xsd:element>
        				<xsd:element name="infoName"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="infoValue"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="setInfoPatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getPatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token"
        					type="xsd:string">
        				</xsd:element>
        				<xsd:element name="username"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getPatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getMasterKey">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getMasterKeyResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="key" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getMyKey">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getMyKeyResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="key" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getAllDoctorsKeys">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getAllDoctorsKeysResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="key" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getAllPublicKeys">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getAllPublicKeysResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="allKeys" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="revokeDoctorKey_phase2">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        				<xsd:element name="keys"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="revokeDoctorKey_phase2Response">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="isMyPatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        				<xsd:element name="name"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="isMyPatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="sharePatient">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        				<xsd:element name="pname" type="xsd:string">
        				</xsd:element>
        				<xsd:element name="dsname" type="xsd:string">
        				</xsd:element>
        				<xsd:element name="symmkey_enc_new_string"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="sharePatientResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:boolean"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getDoctorKey">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        				<xsd:element name="dname"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getDoctorKeyResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="key" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getDoctorsKeysNewFunction">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="token" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getDoctorsKeysNewFunctionResponse1">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="array" type="tns:Array" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
            <xsd:complexType name="Array"></xsd:complexType>
        </xsd:schema>
    </types>
    
       
    <message name="loginRequest">
    	<part name="parameters" element="tns:login"></part>
    </message>
    <message name="loginResponse">
    	<part name="parameters" element="tns:loginResponse"></part>
    </message>
    <message name="addDoctorRequest">
    	<part name="parameters" element="tns:addDoctor"></part>
    </message>
    <message name="addDoctorResponse">
    	<part name="parameters" element="tns:addDoctorResponse"></part>
    </message>
    <message name="deleteDoctorRequest">
    	<part name="parameters" element="tns:deleteDoctor"></part>
    </message>
    <message name="deleteDoctorResponse">
    	<part name="parameters" element="tns:deleteDoctorResponse"></part>
    </message>
    <message name="revokeDoctorKeyRequest">
    	<part name="parameters" element="tns:revokeDoctorKey"></part>
    </message>
    <message name="revokeDoctorKeyResponse">
    	<part name="parameters" element="tns:revokeDoctorKeyResponse"></part>
    </message>
    <message name="changePasswordRequest">
    	<part name="parameters" element="tns:changePassword"></part>
    </message>
    <message name="NewOperationResponse">
    	<part name="parameters" element="tns:NewOperationResponse"></part>
    </message>
    <message name="changePasswordResponse">
    	<part name="parameters" element="tns:changePasswordResponse"></part>
    </message>
    <message name="addPatientRequest">
    	<part name="parameters" element="tns:addPatient"></part>
    </message>
    <message name="addPatientResponse">
    	<part name="parameters" element="tns:addPatientResponse"></part>
    </message>
    <message name="deletePatientRequest">
    	<part name="parameters" element="tns:deletePatient"></part>
    </message>
    <message name="deletePatientResponse">
    	<part name="parameters" element="tns:deletePatientResponse"></part>
    </message>
    <message name="getInfoPatientRequest">
    	<part name="parameters" element="tns:getInfoPatient"></part>
    </message>
    <message name="getInfoPatientResponse">
    	<part name="parameters" element="tns:getInfoPatientResponse"></part>
    </message>
    <message name="setInfoPatientRequest">
    	<part name="parameters" element="tns:setInfoPatient"></part>
    </message>
    <message name="setInfoPatientResponse">
    	<part name="parameters" element="tns:setInfoPatientResponse"></part>
    </message>
    <message name="getPatientRequest">
    	<part name="parameters" element="tns:getPatient"></part>
    </message>
    <message name="getPatientResponse">
    	<part name="parameters" element="tns:getPatientResponse"></part>
    </message>
    <message name="getMasterKeyRequest">
    	<part name="parameters" element="tns:getMasterKey"></part>
    </message>
    <message name="getMasterKeyResponse">
    	<part name="parameters" element="tns:getMasterKeyResponse"></part>
    </message>
    <message name="getMyKeyRequest">
    	<part name="parameters" element="tns:getMyKey"></part>
    </message>
    <message name="getMyKeyResponse">
    	<part name="parameters" element="tns:getMyKeyResponse"></part>
    </message>
    <message name="getAllDoctorsKeysRequest">
    	<part name="parameters" element="tns:getAllDoctorsKeys"></part>
    </message>
    <message name="getAllDoctorsKeysResponse">
    	<part name="parameters" element="tns:getAllDoctorsKeysResponse"></part>
    </message>
    <message name="getAllPublicKeysRequest">
    	<part name="parameters" element="tns:getAllPublicKeys"></part>
    </message>
    <message name="getAllPublicKeysResponse">
    	<part name="parameters" element="tns:getAllPublicKeysResponse"></part>
    </message>
    <message name="revokeDoctorKey_phase2Request">
    	<part name="parameters" element="tns:revokeDoctorKey_phase2"></part>
    </message>
    <message name="revokeDoctorKey_phase2Response">
    	<part name="parameters" element="tns:revokeDoctorKey_phase2Response"></part>
    </message>
    <message name="isMyPatientRequest">
    	<part name="parameters" element="tns:isMyPatient"></part>
    </message>
    <message name="isMyPatientResponse">
    	<part name="parameters" element="tns:isMyPatientResponse"></part>
    </message>
    <message name="sharePatientRequest">
    	<part name="parameters" element="tns:sharePatient"></part>
    </message>
    <message name="sharePatientResponse">
    	<part name="parameters" element="tns:sharePatientResponse"></part>
    </message>
    <message name="getDoctorKeyRequest">
    	<part name="parameters" element="tns:getDoctorKey"></part>
    </message>
    <message name="getDoctorKeyResponse">
    	<part name="parameters" element="tns:getDoctorKeyResponse"></part>
    </message>
    <message name="getDoctorsKeysNewFunctionRequest">
    	<part name="parameters" element="tns:getDoctorsKeysNewFunction"></part>
    </message>
    <message name="getDoctorsKeysNewFunctionResponse1">
    	<part name="parameters" element="tns:getDoctorsKeysNewFunctionResponse1"></part>
    </message>
    <portType name="NotFenixPortType">
    	
        <operation name="login">
        	<input message="tns:loginRequest"></input>
        	<output message="tns:loginResponse"></output>
        </operation>
        <operation name="addDoctor">
        	<input message="tns:addDoctorRequest"></input>
        	<output message="tns:addDoctorResponse"></output>
        </operation>
        <operation name="deleteDoctor">
        	<input message="tns:deleteDoctorRequest"></input>
        	<output message="tns:deleteDoctorResponse"></output>
        </operation>
        <operation name="revokeDoctorKey">
        	<input message="tns:revokeDoctorKeyRequest"></input>
        	<output message="tns:revokeDoctorKeyResponse"></output>
        </operation>
        <operation name="changePassword">
        	<input message="tns:changePasswordRequest"></input>
        	<output message="tns:changePasswordResponse"></output>
        </operation>
        <operation name="addPatient">
        	<input message="tns:addPatientRequest"></input>
        	<output message="tns:addPatientResponse"></output>
        </operation>
        <operation name="deletePatient">
        	<input message="tns:deletePatientRequest"></input>
        	<output message="tns:deletePatientResponse"></output>
        </operation>
        <operation name="getInfoPatient">
        	<input message="tns:getInfoPatientRequest"></input>
        	<output message="tns:getInfoPatientResponse"></output>
        </operation>
        <operation name="setInfoPatient">
        	<input message="tns:setInfoPatientRequest"></input>
        	<output message="tns:setInfoPatientResponse"></output>
        </operation>
        <operation name="getPatient">
        	<input message="tns:getPatientRequest"></input>
        	<output message="tns:getPatientResponse"></output>
        </operation>
        <operation name="getMasterKey">
        	<input message="tns:getMasterKeyRequest"></input>
        	<output message="tns:getMasterKeyResponse"></output>
        </operation>
        <operation name="getMyKey">
        	<input message="tns:getMyKeyRequest"></input>
        	<output message="tns:getMyKeyResponse"></output>
        </operation>
        <operation name="getAllDoctorsKeys">
        	<input message="tns:getAllDoctorsKeysRequest"></input>
        	<output message="tns:getAllDoctorsKeysResponse"></output>
        </operation>
        <operation name="getAllPublicKeys">
        	<input message="tns:getAllPublicKeysRequest"></input>
        	<output message="tns:getAllPublicKeysResponse"></output>
        </operation>
        <operation name="revokeDoctorKey_phase2">
        	<input message="tns:revokeDoctorKey_phase2Request"></input>
        	<output message="tns:revokeDoctorKey_phase2Response"></output>
        </operation>
        <operation name="isMyPatient">
        	<input message="tns:isMyPatientRequest"></input>
        	<output message="tns:isMyPatientResponse"></output>
        </operation>
        <operation name="sharePatient">
        	<input message="tns:sharePatientRequest"></input>
        	<output message="tns:sharePatientResponse"></output>
        </operation>
        <operation name="getDoctorKey">
        	<input message="tns:getDoctorKeyRequest"></input>
        	<output message="tns:getDoctorKeyResponse"></output>
        </operation>
        <operation name="getDoctorsKeysNewFunction">
        	<input message="tns:getDoctorsKeysNewFunctionRequest"></input>
        	<output message="tns:getDoctorsKeysNewFunctionResponse1"></output>
        </operation>
    </portType>
 
    <binding name="NotFenixPortType" type="tns:NotFenixPortType">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />	
    	<operation name="login">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="addDoctor">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteDoctor">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="revokeDoctorKey">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="changePassword">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="addPatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deletePatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getInfoPatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="setInfoPatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getPatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        
        
        <operation name="getMasterKey">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        
        
        <operation name="getMyKey">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        
        
        <operation name="getAllDoctorsKeys">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        
        <operation name="revokeDoctorKey_phase2">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getAllPublicKeys">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
                <operation name="sharePatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		<operation name="isMyPatient">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getDoctorKey">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        
        <operation name="getDoctorsKeysNewFunction">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <service name="NotFenixService">
    	<port name="NotFenixPort" binding="tns:NotFenixPortType">
    		<soap:address location="http://host:port/notfenix-ws/endpoint" />
    	</port>
    </service>
</definitions>