NotFenix/src/main/resources/notfenix.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:tns="http://ws.sirs1617.andred.pt/"
    targetNamespace="http://ws.sirs1617.andred.pt/" 
    name="NotFenixWebService">
    
    <types>
    <xsd:schema
	    	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    	targetNamespace="http://ws.sirs1617.andred.pt/">
			<xs:complexType name="login">
		                <xs:sequence>
		                    <xs:element name="username" type="xs:string" minOccurs="0" />
		                    <xs:element name="password" type="xs:string" minOccurs="0" />
		                </xs:sequence>
		    </xs:complexType>
		            <xs:element name="login" type="tns:login" />
	        <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="loginResponse" type="tns:loginResponse" />
	    </xsd:schema>
    </types>
    
    
    <message name="login">
        <part name="parameters" element="tns:login" />
    </message>
    <message name="loginResponse">
        <part name="parameters" element="tns:loginResponse" />
    </message>
    
    
    <portType name="NotFenixPortType">
    	<operation name="login">
            <input wsam:Action="http://ws.transporter.upa.pt/TransporterPort/loginRequest"
                message="tns:login" />
            <output wsam:Action="http://ws.transporter.upa.pt/TransporterPort/loginResponse"
                message="tns:loginResponse" />
        </operation>
    </portType>
 
    <binding name="NotFenixPortType" type="tns:NotFenixPortType">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />	
    	<operation name="login">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <service name="NotFenixService">
    	<port name="NotFenixPort" binding="tns:NotFenixPortType">
    		<soap:address location="http://host:port/notfenix-ws/endpoint" />
    	</port>
    </service>
</definitions>